/* Iphone 6 */

@media (min-width: 321px) and (max-width: 667px) {
  .landing-container-inner {
    width: 320px;
    height: 400px;
  }
  .landing-container-inner > p {
    color: orange;
  }
}


/* Iphone 5, 5s */

@media (min-width: 320px) and (max-width: 568px) {
  .landing-container-inner {
    width: 280px;
    height: 400px;
  }
  .landing-container-inner > p {
    color: red;
  }
}
